<footer  >
    <div class="container  main-footer-container ">
        <h5 class="footer-name">Ana's G🤸‍♀️M </h5>
        <ul class="nav footer-nav">
        <li><a href="https://spotify.com" target="_blank"><img src="/assets/img/spotify.png" width="50px"></a> </li>
        <li><a href="https://youtube.com" target="_blank"><img src="/assets/img/youtube.jpg" width="50px"></a></li>
        <li><a href="https://facebook.com" target="_blank"><img src="/assets/img/facebook .jpg" width="50px"></a></li>
        </ul>
    </div>
</footer>



