<video autoplay muted loop id="myVideo">
    <source src="/assets/videos/GymBckgrVideo_NoAudio.mp4" type="video/mp4">
</video>
<div class="motivation-words">
        <div class="mott1"> 
            <span > STOP DOUBTING. START SWEATING. </span>
        </div>
        <div class="mott2">
            <span > BUILD YOUR BEST SELF TODAY</span>
        </div>
        <div class="mott3">
            <h3>Say yes to results with the best strength and weight training, cardio equipment, group exercise classes and more at  <p style="color: whitesmoke">Ana's G🤸‍♀️M</p>
            </h3>
        </div>
        <div class="member">
            <a routerLink="/register">Become a Member</a>
        </div>
        
</div>



